<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find km3_vehicle_sensor_kit_description)/urdf/sensors.xacro"/>

  <xacro:macro name="sensor_kit" params="parent">

    <!-- 调用传感器宏 -->
    <xacro:km3_sensors parent="${parent}"/>

  </xacro:macro>

</robot>
~
~
~
~
